supabase_url = "https://lalalala.supabase.co"
supabase_service_key = "lalalala"
openai_api_key = ""
openai_api_base = "https://api.openai.com/v1"
anthropic_api_key = ""
self_hosted = "true"
usage_limit = 1000